/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: Osaka;
  letter-spacing: 1.5px;
  line-height: 1.6;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

@media screen and (max-width: 760px) {
  .inner {
    padding: 50px 0;
  }
}

.pagetop {
  position: fixed;
  right: 50px;
  bottom: 90px;
  padding: 20px;
  background-color: #ececec;
}

@media screen and (max-width: 760px) {
  .pagetop {
    right: 10px;
    bottom: 20px;
    padding: 15px;
  }
}

.pagetop:hover {
  cursor: pointer;
}

.pagetop i {
  font-size: 3rem;
}

.brackets {
  width: 820px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

@media screen and (max-width: 1169px) {
  .brackets {
    width: 90%;
  }
}

.brackets_logo {
  font-size: 2.8rem;
  line-height: 1.6;
  font-weight: bold;
  margin: 10px 0;
}

@media screen and (max-width: 760px) {
  .brackets_logo {
    font-size: 1.8rem;
  }
}

.brackets:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}

@media screen and (max-width: 760px) {
  .brackets:before {
    width: 25px;
    height: 25px;
  }
}

.brackets:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

@media screen and (max-width: 760px) {
  .brackets:after {
    width: 25px;
    height: 25px;
  }
}

.brsp {
  display: none;
}

@media screen and (max-width: 760px) {
  .brsp {
    display: block;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.title h2 {
  font-size: 2.8rem;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .title h2 {
    font-size: 1.8rem;
  }
}

.title i {
  font-size: 2.8rem;
}

@media screen and (max-width: 760px) {
  .title i {
    font-size: 1.8rem;
  }
}

.title_desc {
  font-size: 1.6rem;
  padding-bottom: 20px;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .title_desc {
    font-size: 1.4rem;
  }
}

.title_small {
  font-size: 1.4rem;
  padding-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .title_small {
    font-size: 1.2rem;
  }
}

.blue_wrap {
  background-color: #016ea9;
  text-align: center;
  color: #fff;
  padding: 40px 0;
}

@media screen and (max-width: 760px) {
  .blue_wrap {
    padding: 20px 0;
  }
}

.blue_wrap p {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 1169px) {
  .blue_wrap p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 760px) {
  .blue_wrap p {
    font-size: 1.2rem;
  }
}

.blue_wrap span {
  color: #ebb94d;
}

header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  top: 0%;
}

.hd_wrap {
  width: 100%;
  padding: 15px 0;
}

@media screen and (max-width: 760px) {
  .hd_wrap {
    padding: 10px 0;
  }
}

.hd_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1169px) {
  .hd_title {
    width: 95%;
  }
}

.hd_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 760px) {
  .hd_logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.hd_logo img {
  width: 128px;
  height: auto;
}

@media screen and (max-width: 760px) {
  .hd_logo img {
    width: 90px;
  }
}

.hd_logo p {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 7px;
}

@media screen and (max-width: 760px) {
  .hd_logo p {
    font-size: 10px;
    padding-bottom: 4px;
    letter-spacing: normal;
  }
}

.contact_form_pc {
  background-color: #da6b64;
  padding: 15px 40px;
  border-radius: 25px;
}

@media screen and (max-width: 760px) {
  .contact_form_pc {
    display: none;
  }
}

.contact_form_pc:hover {
  cursor: pointer;
  background-color: #d84940;
}

.contact_form_pc p {
  font-size: 14px;
  color: #fff;
}

.contact_form_sp {
  display: none;
}

@media screen and (max-width: 760px) {
  .contact_form_sp {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #da6b64;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    text-align: center;
    padding: 9px 11px;
  }
}

.contact_form_sp a {
  font-size: 12px;
}

#firstview {
  width: 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 90px 0;
  background-image: url(../img/main.jpg);
  background-size: cover;
  margin-top: 65px;
}

@media screen and (max-width: 760px) {
  #firstview {
    background-image: url(../img/mainsp.jpg);
    padding: 30px 0;
  }
}

.fv_content {
  text-align: center;
}

.fv_content .fv_title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 2;
}

@media screen and (max-width: 760px) {
  .fv_content .fv_title {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}

.fv_content .fv_logo_wrap {
  width: 310px;
  margin: 0 auto;
}

.fv_content .fv_logo_wrap .fv_logo {
  width: 80%;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .fv_content .fv_logo_wrap .fv_logo {
    padding: 20px 0;
    margin: 0;
  }
}

.fv_content .fv_desc {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 760px) {
  .fv_content .fv_desc {
    font-size: 1.5rem;
  }
}

#conversion {
  background-color: #ebb94d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.conversion_wrap {
  width: 82%;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.6;
}

@media screen and (max-width: 760px) {
  .conversion_wrap {
    width: 95%;
    font-size: 1.5rem;
  }
}

.conversion_wrap p:nth-child(1) {
  font-size: 2rem;
}

@media screen and (max-width: 760px) {
  .conversion_wrap p:nth-child(1) {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.conversion_wrap p:nth-child(2) {
  margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
  .conversion_wrap p:nth-child(2) {
    margin-bottom: 30px;
  }
}

.conversion_wrap p:nth-child(4), .conversion_wrap p:nth-child(5), .conversion_wrap p:nth-child(6) {
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .conversion_wrap p:nth-child(4), .conversion_wrap p:nth-child(5), .conversion_wrap p:nth-child(6) {
    margin-bottom: 15px;
  }
}

.conversion_wrap code {
  background-color: #f9f2f4;
  color: #c7254e;
  border-radius: 4px;
  padding: 2px;
  font-size: 1.8rem;
}

.conversion_wrap .contact_form_pc {
  margin-bottom: 50px;
  border-radius: 60px;
  padding: 30px 0;
}

@media screen and (max-width: 760px) {
  .conversion_wrap .contact_form_pc {
    display: block;
    margin-bottom: 30px;
    padding: 20px 0;
  }
}

.conversion_wrap .contact_form_pc p {
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .conversion_wrap .contact_form_pc p {
    font-size: 2rem;
  }
}

.conversion_wrap .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  width: 200px;
  margin: 0 auto;
}

.conversion_wrap .sns li:nth-child(1) {
  margin-right: 5px;
}

#introduction {
  background-image: url(../img/introbottom.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 40px 0 20vh;
  height: inherit;
}

@media screen and (max-width: 760px) {
  #introduction {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.intro_content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 25px 0;
}

@media screen and (max-width: 760px) {
  .intro_content {
    font-size: 1.4rem;
  }
}

.intro_content p {
  margin-bottom: 24px;
}

.intro_content p:last-child {
  margin: 0;
}

.intro_content p span {
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

#about {
  background-color: #fef5e0;
  text-align: center;
  padding-bottom: 70px;
}

#about .about_square {
  position: relative;
  top: -40px;
}

@media screen and (max-width: 760px) {
  #about .about_square {
    top: -30px;
  }
}

#about .about_square p {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ebb94d;
  text-align: center;
  line-height: 80px;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
}

@media screen and (max-width: 760px) {
  #about .about_square p {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
  }
}

#about .brackets {
  margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
  #about .brackets {
    margin-bottom: 20px;
  }
}

.about_desc {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .about_desc {
    font-size: 1.5rem;
  }
}

.about_wrap {
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 3px;
  padding: 30px 0;
  width: 1170px;
  margin: 0 auto;
}

@media screen and (max-width: 1169px) {
  .about_wrap {
    width: 90%;
    padding: 15px 0;
  }
}

.about_wrap .about_wrap_desc {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .about_wrap .about_wrap_desc {
    font-size: 1.5rem;
  }
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1169px) {
  .about_content {
    width: 70%;
  }
}

@media screen and (max-width: 760px) {
  .about_content {
    width: 80%;
  }
}

.about_content .about_item {
  padding: 10px;
  font-size: 1.4rem;
}

@media screen and (max-width: 760px) {
  .about_content .about_item {
    padding: 5px;
    font-size: 1rem;
  }
}

.about_content .about_item img {
  height: auto;
  width: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .about_content .about_item img {
    height: 30px;
  }
}

#about_second {
  background-image: url(../img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 40px;
}

@media screen and (max-width: 1169px) {
  #about_second {
    background-image: url(../img/aboutsecondbgsp.jpg);
    line-height: 1.2;
  }
}

#about_second .a_second_desc {
  font-size: 2rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  #about_second .a_second_desc {
    font-size: 1.3rem;
  }
}

#about_second span {
  color: #ebb94d;
}

.a_second_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
}

@media screen and (max-width: 1169px) {
  .a_second_wrap {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .a_second_wrap {
    width: 100%;
    padding-top: 15px;
  }
}

.a_second_wrap .a_second_item {
  background-color: #fff;
  width: 32%;
  border-radius: 5px;
  color: black;
  padding-bottom: 20px;
}

@media screen and (max-width: 1169px) {
  .a_second_wrap .a_second_item {
    width: 100%;
  }
  .a_second_wrap .a_second_item:nth-child(1), .a_second_wrap .a_second_item:nth-child(2) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 760px) {
  .a_second_wrap .a_second_item {
    padding-bottom: 10px;
  }
}

.a_second_wrap .a_second_item h3 {
  color: #fff;
  text-align: center;
  background-color: #ebb94d;
  border-radius: 5px;
  width: 80%;
  margin: 30px auto;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 3px 0;
}

@media screen and (max-width: 760px) {
  .a_second_wrap .a_second_item h3 {
    margin: 15px auto;
    font-size: 1.2rem;
  }
}

.a_second_wrap .a_second_item p {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .a_second_wrap .a_second_item p {
    font-size: 1.2rem;
  }
}

#learning {
  padding: 40px 0;
  text-align: center;
}

#learning .learning_desc {
  font-size: 2rem;
  padding-bottom: 20px;
}

@media screen and (max-width: 1169px) {
  #learning .learning_desc {
    font-size: 1.5rem;
    padding: 0;
  }
}

.learning_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
  margin: 40px auto;
}

@media screen and (max-width: 1169px) {
  .learning_wrap {
    width: 80%;
  }
  .learning_wrap .learning_item {
    width: 45%;
  }
  .learning_wrap .learning_item img {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .learning_wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 70%;
    margin: 20px auto;
  }
  .learning_wrap .learning_item {
    width: 48%;
  }
}

.learning_para {
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .learning_para {
    font-size: 1.2rem;
  }
}

#merit {
  background-color: #fef5e0;
  padding: 40px 0;
}

#merit .merit_wrap {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1169px) {
  #merit .merit_wrap {
    width: 90%;
  }
}

#merit .brackets {
  margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
  #merit .brackets {
    width: 100%;
  }
}

#merit .brackets p {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  #merit .brackets p {
    font-size: 1.5rem;
  }
}

.merit_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1169px) {
  .merit_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.merit_content .merit_item {
  width: 30%;
}

@media screen and (max-width: 1169px) {
  .merit_content .merit_item {
    width: 100%;
  }
  .merit_content .merit_item:nth-child(1), .merit_content .merit_item:nth-child(2) {
    padding-bottom: 15px;
  }
}

.merit_content .merit_img_wrap {
  width: 100%;
  height: 160px;
}

@media screen and (max-width: 1169px) {
  .merit_content .merit_img_wrap {
    width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .merit_content .merit_img_wrap {
    width: 100%;
  }
}

.merit_content .merit_img_wrap img {
  width: 100%;
  height: 160px;
}

.merit_content .merit_item_desc h4 {
  color: #ebb94d;
  font-weight: bold;
  font-size: 2rem;
  margin: 8px 0;
}

@media screen and (max-width: 1169px) {
  .merit_content .merit_item_desc h4 {
    font-size: 1.6rem;
  }
}

.merit_content .merit_item_desc p {
  font-size: 1.6rem;
  margin: 8px 0;
}

@media screen and (max-width: 1169px) {
  .merit_content .merit_item_desc p {
    font-size: 1.4rem;
  }
}

.merit_support {
  width: 100%;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  margin: 40px 0;
  padding: 40px 0;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .merit_support {
    padding: 10px;
    margin: 30px 0 20px;
  }
}

.merit_support h3 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #ebb94d;
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .merit_support h3 {
    font-size: 1.8rem;
  }
}

.merit_support .merit_first {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .merit_support .merit_first {
    font-size: 1.6rem;
  }
}

.merit_support p {
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .merit_support p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}

.merit_refusal {
  font-size: 1.4rem;
}

@media screen and (max-width: 760px) {
  .merit_refusal {
    font-size: 1.2rem;
  }
}

#teacher {
  background-image: url(../img/teacherbg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 70px 0 50px;
  text-align: center;
}

#teacher .teacher_desc {
  font-size: 1.6rem;
}

@media screen and (max-width: 760px) {
  #teacher .teacher_desc {
    font-size: 1.2rem;
  }
}

.teacher_wrap {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .teacher_wrap {
    width: 95%;
  }
}

.teacher_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1169px) {
  .teacher_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.teacher_item {
  border: 4px solid;
  width: 48%;
  position: relative;
  margin-top: 200px;
  padding: 50px 20px;
}

@media screen and (max-width: 1169px) {
  .teacher_item {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .teacher_item {
    margin-top: 130px;
    border: 3px solid;
    padding: 50px 10px 20px;
  }
}

.teacher_item .teacher_img {
  border-radius: 50%;
  overflow: hidden;
  width: 198px;
  height: 198px;
  position: absolute;
  top: -160px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 760px) {
  .teacher_item .teacher_img {
    width: 120px;
    height: 120px;
    top: -90px;
  }
}

.teacher_item .teacher_img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-width: 100%;
}

.teacher_item p {
  font-size: 1.6rem;
}

@media screen and (max-width: 760px) {
  .teacher_item p {
    font-size: 1.2rem;
  }
}

.teacher_item .teacher_title, .teacher_item .teacher_name {
  margin-bottom: 10px;
}

#qa {
  background-color: #ebb94d;
  padding: 40px 0;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 760px) {
  #qa {
    padding: 20px 0;
  }
}

#qa .qa_circle {
  background-color: #fff;
  color: #ebb94d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  #qa .qa_circle {
    width: 60px;
    height: 60px;
  }
}

#qa .qa_circle p {
  line-height: 80px;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  #qa .qa_circle p {
    font-size: 1.2rem;
    line-height: 60px;
  }
}

#qa .brackets {
  color: #fff;
}

#qa .brackets:before {
  border-top: 4px solid;
  border-left: 4px solid;
}

#qa .brackets:after {
  border-bottom: 4px solid;
  border-right: 4px solid;
}

#qa:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  margin-left: -25px;
}

@media screen and (max-width: 760px) {
  #qa:after {
    border: 15px solid transparent;
    border-top-color: #ebb94d;
    margin-left: -15px;
  }
}

#possible {
  text-align: center;
  padding: 40px 0;
}

@media screen and (max-width: 760px) {
  #possible {
    padding: 20px 0;
  }
}

@media screen and (max-width: 760px) {
  #possible .title {
    margin-bottom: 15px;
  }
}

#possible .title_small {
  display: inline-block;
  width: 90%;
}

.possible_wrap {
  width: 65%;
  margin: 0 auto;
  padding-top: 15px;
}

@media screen and (max-width: 1169px) {
  .possible_wrap {
    width: 90%;
  }
}

.possible_wrap .possible_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  text-align: start;
  color: #777;
}

.possible_wrap .possible_item .possible_img {
  width: 30%;
}

.possible_wrap .possible_item .possible_img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-width: 100%;
  border: 2px solid #ebb94d;
}

.possible_wrap .possible_item .possible_content {
  width: 65%;
}

.possible_wrap .possible_item .possible_desc {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

@media screen and (max-width: 760px) {
  .possible_wrap .possible_item .possible_desc {
    font-size: 1.4rem;
  }
}

.possible_wrap .possible_item .possible_name {
  font-size: 1.6rem;
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .possible_wrap .possible_item .possible_name {
    font-size: 1.2rem;
  }
}

#content {
  background-image: url(../img/classbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 760px) {
  #content {
    background-image: url(../img/classbgsp.jpg);
    padding: 30px 0 20px;
  }
}

@media screen and (max-width: 760px) {
  #content .title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 760px) {
  #content .title_desc {
    font-size: 1.2rem;
  }
}

.content_wrap {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1169px) {
  .content_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.content_item {
  width: 48%;
}

@media screen and (max-width: 1169px) {
  .content_item {
    width: 100%;
  }
  .content_item:first-child {
    margin-bottom: 20px;
  }
}

.content_item .content_border {
  border: 2px solid #016ea9;
  border-radius: 5px;
}

.content_item h3 {
  background-color: #016ea9;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 1169px) {
  .content_item h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 760px) {
  .content_item h3 {
    font-size: 1.5rem;
  }
}

.content_item p {
  padding: 10px;
  font-size: 1.6rem;
  border: 1px dotted #e5e5e5;
  background-color: #fff;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .content_item p {
    font-size: 1.2rem;
  }
}

.content_item p:last-child {
  border: none;
  border-radius: 0 0 5px 5px;
}

#flow {
  padding: 40px 0;
}

#flow .q_item__wrapsp {
  display: none;
  padding: 0 15px;
}

#flow .q_item__wrapsp .q_item__logo {
  background-color: #fef5e0;
  border: none;
}

#flow .q_item__wrapsp .q_item__logo i {
  color: black;
}

#flow .q_item__wrapsp .q_item__logo__wrap img {
  width: 35px;
  height: 35px;
}

#flow .q_item__wrapsp .q_item__logo__wrap p {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

#flow .q_item__wrapsp .q_item__content {
  background-color: #fef5e0;
}

#flow .q_item__wrapsp .q_item__content p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#flow .q_item__wrapsp .q_item__content p:last-child {
  margin: 0;
}

@media screen and (max-width: 760px) {
  #flow .q_item__wrapsp {
    display: block;
  }
}

.q_flow__wrap {
  width: 1170px;
  margin: 0 auto;
}

.q_flow__wrap .flow_img {
  width: 100%;
  margin: 40px 0;
}

.q_flow__wrap .flow_img img {
  width: 100%;
}

@media screen and (max-width: 1169px) {
  .q_flow__wrap {
    width: 90%;
  }
}

@media screen and (max-width: 760px) {
  .q_flow__wrap {
    display: none;
  }
}

.q_flow__wrap .flow_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
  background-color: #fef5e0;
  border-radius: 10px;
}

@media screen and (max-width: 1169px) {
  .q_flow__wrap .flow_item {
    padding: 20px 40px;
  }
}

.q_flow__wrap .flow_item .flow_logo {
  width: 25%;
  text-align: center;
}

.q_flow__wrap .flow_item .flow_logo img {
  width: 95px;
  height: 95px;
}

.q_flow__wrap .flow_item .flow_logo p {
  font-size: 1.8rem;
  font-weight: bold;
}

.q_flow__wrap .flow_item .flow_content {
  width: 70%;
}

.q_flow__wrap .flow_item .flow_content .flow_desc {
  font-size: 1.6rem;
  font-weight: bold;
}

.q_flow__wrap .flow_item .flow_content .flow_small {
  font-size: 1.4rem;
}

.q_flow__wrap .flow_item .flow_content p {
  margin-bottom: 20px;
}

.q_flow__wrap .flow_item .flow_content p:last-child {
  margin: 0;
}

.q_flow__wrap .flow_line {
  width: 70%;
  margin: 0 auto;
}

.q_flow__wrap .flow_line img {
  width: 100%;
}

#bangkok {
  background-image: url(../img/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

@media screen and (max-width: 760px) {
  #bangkok {
    background-image: url(../img/bangkokbgsp.jpg);
    padding: 20px 0;
  }
}

#bangkok .title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#bangkok .title h2 {
  font-size: 2.4rem;
}

@media screen and (max-width: 760px) {
  #bangkok .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

#bangkok .title_small {
  white-space: normal;
}

.bangkok_wrap {
  color: #fff;
  width: 80%;
  margin: 0 auto;
}

.bangkok_wrap li {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .bangkok_wrap li {
    font-size: 1.2rem;
  }
}

#special {
  background-color: #f7c23c;
  padding: 40px 0;
  text-align: center;
}

@media screen and (max-width: 760px) {
  #special {
    padding: 20px 0;
  }
}

#special .title_desc {
  margin-bottom: 40px;
}

@media screen and (max-width: 760px) {
  #special .title_desc {
    font-size: 1.2rem;
  }
}

#special .span_white {
  color: white;
}

.special_wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border: 2px solid white;
  padding: 40px 30px;
}

@media screen and (max-width: 760px) {
  .special_wrap {
    width: 90%;
    padding: 40px 15px;
  }
}

.special_wrap span {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: bold;
  background-color: #f7c23c;
  white-space: nowrap;
  padding: 0 15px;
}

@media screen and (max-width: 1169px) {
  .special_wrap span {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 760px) {
  .special_wrap span {
    font-size: 1.8rem;
  }
}

.special_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1169px) {
  .special_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.special_content .special_item {
  background-color: #fff;
  border-radius: 50%;
  color: black;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

@media screen and (max-width: 1169px) {
  .special_content .special_item {
    margin-bottom: 20px;
  }
  .special_content .special_item:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 760px) {
  .special_content .special_item {
    display: none;
  }
}

.special_content .special_item h4 {
  font-size: 2.4rem;
  color: #f7c23c;
  font-weight: bold;
  margin-bottom: 15px;
}

.special_content .special_item p {
  font-size: 1.4rem;
  font-weight: bold;
}

.special_wrapsp {
  display: none;
}

@media screen and (max-width: 760px) {
  .special_wrapsp {
    display: block;
  }
}

.special_wrapsp .special_itemsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special_wrapsp .special_itemsp .special_circlesp {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  color: #f7c23c;
  border-radius: 50%;
  margin-bottom: 10px;
}

.special_wrapsp .special_itemsp .special_circlesp p {
  font-size: 1.2rem;
  font-weight: bold;
}

.special_wrapsp .special_itemsp .special_contentsp {
  width: 70%;
  text-align: start;
  margin-left: 10%;
}

.special_wrapsp .special_itemsp .special_contentsp p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

#notvolunteer {
  background-image: url(../img/specialdetail.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 760px) {
  #notvolunteer {
    background-image: url(../img/specialdetailsp.jpg);
    padding: 20px 0;
  }
}

@media screen and (max-width: 760px) {
  #notvolunteer .title_desc {
    font-size: 1.2rem;
  }
}

#notvolunteer .brackets {
  color: #fff;
  margin-bottom: 20px;
}

#notvolunteer .brackets:before {
  border-top: 4px solid;
  border-left: 4px solid;
}

#notvolunteer .brackets:after {
  border-bottom: 4px solid;
  border-right: 4px solid;
}

#message {
  padding: 40px 0;
  text-align: center;
}

.message_wrap {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1169px) {
  .message_wrap {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message_wrap .message_img {
  width: 25%;
}

@media screen and (max-width: 1169px) {
  .message_wrap .message_img {
    width: 100%;
    margin-bottom: 20px;
  }
}

.message_wrap .message_img img {
  width: 100%;
}

.message_content {
  text-align: start;
  font-size: 1.4rem;
  width: 70%;
}

@media screen and (max-width: 1169px) {
  .message_content {
    width: 100%;
  }
}

.message_content p {
  margin-bottom: 10px;
}

.message_content p:last-child {
  margin: 0;
}

.message_content ul {
  margin-bottom: 10px;
}

#contactform {
  width: 100%;
  background-color: #ebb94d;
}

.form_wrap {
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .form_wrap {
    width: 90%;
  }
}

.form_wrap p {
  font-size: 1.8rem;
  margin-bottom: 35px;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .form_wrap p {
    font-size: 1.2rem;
  }
}

form input {
  width: 100%;
  height: 55px;
  padding: 10px;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  form input {
    font-size: 1.4rem;
  }
}

form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
  form textarea {
    font-size: 1.4rem;
  }
}

form .form_submit {
  width: 100%;
}

form .form_submit input {
  font-size: 2.4rem;
  margin: 0;
  padding: 10px 0;
  background-color: #da6b64;
  border-radius: 35px;
  color: #fff;
}

form .form_submit input:hover {
  cursor: pointer;
  background-color: #d84940;
}

.q_wrap {
  width: 80%;
}

.q_item {
  -webkit-box-shadow: 0 1px 4px #ececec;
          box-shadow: 0 1px 4px #ececec;
  margin-bottom: 5px;
  border-radius: 3px;
}

.q_item__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  border: 1px solid #ececec;
  padding: 20px;
  border-radius: 3px;
}

.q_item__logo:hover {
  cursor: pointer;
}

.q_item__logo i {
  font-size: 3rem;
  color: #ececec;
}

@media screen and (max-width: 760px) {
  .q_item__logo i {
    font-size: 2rem;
  }
}

.q_item__logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 760px) {
  .q_item__logo__wrap {
    font-size: 1.5rem;
  }
}

.q_item__logo__wrap i {
  font-size: 2rem;
  color: #016ea9;
}

@media screen and (max-width: 760px) {
  .q_item__logo__wrap i {
    font-size: 1.5rem;
  }
}

.q_item__content {
  padding: 20px;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (max-width: 760px) {
  .q_item__content {
    font-size: 1.2rem;
  }
}

footer {
  background-color: #ececec;
  text-align: center;
  padding: 30px 0;
}

footer p {
  margin-bottom: 10px;
}

footer p:last-child {
  margin: 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

footer ul li:nth-child(2) {
  margin-left: 5px;
}

footer a {
  color: #016ea9;
}
/*# sourceMappingURL=main.css.map */