////////////////
///   変数   ///
////////////////
$salmon: #da6b64;
$pink: #d84940;
$yellow: #ebb94d;
$gray: #ececec;
$blue: #016ea9;
$cleam: #fef5e0;

////////////////
///   mixin  ///
////////////////

@mixin pc {
    @media screen and (min-width: 1170px) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: 1169px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 760px) {
        @content;
    }
}

////////////////
///   共通   ///
////////////////

html {
    font-size: 62.5%;
}

body {
    color: #333333;
    font-family: Osaka;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

.inner {
    display: flex;
    justify-content: center;
    padding: 70px 0;
    @include sp {
        padding: 50px 0;
    }
}

.pagetop {
    position: fixed;
    right: 50px;
    bottom: 90px;
    padding: 20px;
    background-color: $gray;
    @include sp {
        right: 10px;
        bottom: 20px;
        padding: 15px;
    }
    &:hover {
        cursor: pointer;
    }
    i {
        font-size: 3rem;
    }
}

.brackets {
    width: 820px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
    position: relative;
    @include tab {
        width: 90%;
    }
    &_logo {
        font-size: 2.8rem;
        line-height: 1.6;
        font-weight: bold;
        margin: 10px 0;
        @include sp {
            font-size: 1.8rem;
        }
    }
    &:before {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        top: 0;
        left: 0;
        border-top: 4px solid $yellow;
        border-left: 4px solid $yellow;
        @include sp {
            width: 25px;
            height: 25px;
        }
    }
    &:after {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        bottom: 0;
        right: 0;
        border-bottom: 4px solid $yellow;
        border-right: 4px solid $yellow;
        @include sp {
            width: 25px;
            height: 25px;
        }
    }
}

.brsp {
    display: none;
    @include sp {
        display: block;
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    h2 {
        font-size: 2.8rem;
        font-weight: bold;
        @include sp {
            font-size: 1.8rem;
        }
    } 
    i {
        font-size: 2.8rem;
        @include sp {
            font-size: 1.8rem;
        }
    } 
}

.blue_wrap {
    background-color: $blue;
    text-align: center;
    color: #fff;
    padding: 40px 0;
    @include sp {
        padding: 20px 0;
    }
    p {
        font-size: 2rem;
        font-weight: bold;
        @include tab {
            font-size: 1.5rem;
        }
        @include sp {
            font-size: 1.2rem;
        }
    }
    span {
        color: $yellow;
    }
}