#special {
    background-color: $lemon;
    padding: 40px 0;
    text-align: center;
    @include sp {
        padding: 20px 0;
    }
    .title_desc {
        margin-bottom: 40px;
        @include sp {
            font-size: 1.2rem;
        }
    }
    .span_white {
        color: white;
    }
}

.special_wrap {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 2px solid white;
    padding: 40px 30px;
    @include sp {
        width: 90%;
        padding: 40px 15px;
    }
    span {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.8rem;
        font-weight: bold;
        background-color: $lemon;
        white-space: nowrap;
        padding: 0 15px;
        @include tab {
            font-size: 2.4rem;
        }
        @include sp {
            font-size: 1.8rem;
        }
    }
}

.special_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tab {
        flex-direction: column;
    }
    .special_item {
        background-color: #fff;
        border-radius: 50%;
        color: black;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        @include tab {
            margin-bottom: 20px;
            &:last-child {
                margin: 0;
            }
        }
        @include sp {
            display: none;
        }
        h4 {
            font-size: 2.4rem;
            color: $lemon;
            font-weight: bold;
            margin-bottom: 15px;
        }
        p {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}
.special_wrapsp {
    display: none;
    @include sp {
        display: block
    }
    .special_itemsp {
        display: flex;
        justify-content: center;
        align-items: center;
        .special_circlesp {
            width: 60px;
            height: 60px;
            line-height: 60px;
            background-color: #fff;
            color: $lemon;
            border-radius: 50%;
            margin-bottom: 10px;
            p {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        .special_contentsp {
            width: 70%;
            text-align: start;
            margin-left: 10%;
            p {
                font-size: 1.2rem;
                font-weight: bold;
                color: #fff;
                // white-space: nowrap;
            }
        }
    }
}